Binaries
DerivedDataCache
Intermediate
Saved
Content/Fantastic_Village_Pack
Content/Kobo_Nature
Content/LowPolyMedievalConstructions
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace